.board {
  width: 1000px;
  height: 1000px;
  table-layout:fixed;
  border:10px solid #000;
}
.square {
  width: 125px;
  overflow:hidden;
  position: relative;
}
tr {
  line-height: 125px;
  max-height: 125px;
  white-space: nowrap;
}

.piece {
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
}

.piece:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.promotion-image {
  position:absolute;
  margin-top:-50px;
}

.promotion-image:hover {
  transform: scale(1.2);
  cursor: pointer;
}


.promote-square {
  width: 50px;
  height:50px;
  line-height:50px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.pormotion-choice{
  position: fixed;
  width: 200px;
  height: 200px;
  top: 410px;
  left: 430px;
  background-color: #3b3b3be3;
  z-index:1001
}

.selected {
  display: block;
  position: absolute;
  z-index: 1000;
  width: 125px;
  height: 125px;
  transform: translate(0%,-50%);
  border-radius:50%;
  background-color: rgba(178, 178, 178, 0.464);
}

.valid {
  display: block;
  position: absolute;
  z-index: 1000;
  width: 25px;
  height: 25px;
  transform: translate(200%,-50%);
  border-radius:50%;
  background-color: rgba(76, 76, 76, 0.629);
}