<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schach - Game</title>
    <link rel="stylesheet" href="../static/game.css">
</head>
<body>
    <div class="game_field">
        <table class="board">
            {% for r in range(8) %}
            <tr>
                {% for f in range(8) %}
                {% if player == 'w' or player == 'w-b' %}
                <td style="{{ field_to_color[f+1][8-r] }}" id="{{f+1}},{{8-r}}" class="square"></td>
                {% else %}
                <td style="{{ field_to_color[8-f][r+1] }}" id="{{8-f}},{{r+1}}" class="square"></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <table id="promotion-table" class="pormotion-choice hidden">
            <tr class="promote-square"><td class="promote-square" id="queen" onclick="select_piece_to_promote('Q')"></td><td class="promote-square" id="rook" onclick="select_piece_to_promote('R')"></td></tr>
            <tr class="promote-square"><td class="promote-square" id="bishop" onclick="select_piece_to_promote('B')"></td><td class="promote-square" id="knight" onclick="select_piece_to_promote('N')"></td></tr>
        </table>

        <div id="win-draw" class="popup hidden">PLAYER WHITE WON!</div>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
    var socket = io();
    var game_id = "{{game_id}}";
    var player = "{{player}}";
    var player_name = "{{player_name}}"
    var selected_square = []
    var positions = {}
    var can_promote = false;
    var square_to_promote_to = [];
    var player_color = "";
    var block_inputs = false;
    socket.emit("join_game",game_id);
    document.title = `Schach - ${player_name}`

    socket.on("reload", (raw_data) => {
        positions = raw_data.positions;
        const data = raw_data.data;
        selected_square[0]=data.selected_square.file;
        selected_square[1]=data.selected_square.rank;
        for (let f = 1; f<=8; f++){
            for (let r = 1; r<=8; r++){
                const square = document.getElementById(`${f},${r}`);
                square.innerHTML = `<img src="../static/pieces/${positions[f][r]}.svg" class="piece" alt="&nbsp;" dragable=True>`;
                square.onclick = function(){};
                if (data.turn == player || player == "w-b"){
                    square.onclick = function () {
                        handle_click(f, r);
                    };
                    if (data.selected_square.file == f && data.selected_square.rank == r){
                        square.innerHTML += `<div class="selected"></div>`
                    };
                    if (data.valid_moves.includes(`${f},${r}`)){
                        square.innerHTML += `<div class="valid"></div>`
                    };
                }
            }
        }
    });


    socket.on("gameOutcome", (raw_data) => {
        block_inputs = true;
        const result = raw_data.result;
        const player = raw_data.player;
        const win_draw_modal = document.getElementById("win-draw")
        if (result == "w"){
            win_draw_modal.innerHTML = `${player.toUpperCase()} WON!`;
        }
        else{
            win_draw_modal.innerHTML = `IT IS A DRAW!`;
        }
        win_draw_modal.classList.remove("hidden")
    });



    function promote(f, r, c){
        show_promotion_options(c);
        can_promote = true;
        square_to_promote_to = [f,r]
        player_color = c
    }

    function show_promotion_options(c){
        document.getElementById("queen").innerHTML = `<img src="../static/pieces/${c.toUpperCase()}-Q.svg" class="promotion-image" alt="&nbsp;" dragable=True>`
        document.getElementById("bishop").innerHTML = `<img src="../static/pieces/${c.toUpperCase()}-B.svg" class="promotion-image" alt="&nbsp;" dragable=True>`
        document.getElementById("rook").innerHTML = `<img src="../static/pieces/${c.toUpperCase()}-R.svg" class="promotion-image" alt="&nbsp;" dragable=True>`
        document.getElementById("knight").innerHTML = `<img src="../static/pieces/${c.toUpperCase()}-N.svg" class="promotion-image" alt="&nbsp;" dragable=True>`
        document.getElementById("promotion-table").classList.remove("hidden");
    }

    function select_piece_to_promote(type){
        document.getElementById("promotion-table").classList.add("hidden");
        c = player_color.toUpperCase()
        id = `${c}-${type}`

        fetch('/handle_click/{{game_id}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ f: square_to_promote_to[0], r: square_to_promote_to[1], p:id })
        });
    }


    function handle_click(f, r) {
        if (block_inputs){
            return
        }
        document.getElementById("promotion-table").classList.add("hidden");
        skip = false
        if (!selected_square.includes(-1)){
            if (positions[selected_square[0]][selected_square[1]] == "W-P" && r == 8 && selected_square[1] == 7){
                promote(f,r,"w")
                skip = true
            }
            else if (positions[selected_square[0]][selected_square[1]] == "B-P" && r == 1 && selected_square[1] == 2){
                promote(f,r,"b")
                skip = true
            }
        }
        if(!skip){
            fetch('/handle_click/{{game_id}}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ f: f, r: r, p: ""})
            });
        }
    }
</script>
</html>