<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schach</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <table>
        {% for r in range(8) %}
        <tr>
            {% for f in range(8) %}
            {% if player == 'w' %}
            <td style="{{ field_to_color[f+1][8-r] }}" id="{{f+1}},{{8-r}}"></td>
            {% else %}
            <td style="{{ field_to_color[8-f][r+1] }}" id="{{8-f}},{{r+1}}"></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
    var socket = io();
    var game_id = "{{game_id}}";
    var player = "{{player}}"
    socket.emit("join_game",game_id);

    socket.on("reload", (raw_data) => {
        console.log(raw_data)
        const positions = raw_data.positions;
        const data = raw_data.data;
        for (let f = 1; f<=8; f++){
            for (let r = 1; r<=8; r++){
                const square = document.getElementById(`${f},${r}`);
                square.innerHTML = `<img src="${positions[f][r]}" class="piece" width="100px" height="100px" alt="&nbsp;">`;
                square.onclick = function(){};
                if (data.turn == player){
                    square.onclick = function () {
                        handle_click(f, r);
                    };
                    if (data.selected_square.file == f && data.selected_square.rank == r){
                        square.innerHTML += `<div class="selected"></div>`
                    }
                    if (data.valid_moves.includes(`${f},${r}`)){
                        square.innerHTML += `<div class="valid"></div>`
                    }
                }
            }
        }
    });




    function handle_click(f, r) {
        fetch('/handle_click/{{game_id}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ f: f, r: r })
        });
    }
</script>
</html>