{% if player == 'w' %}
            <td style="{{ field_to_color[f+1][8-r] }}" {% if is_turn %} onclick="handle_click({{ f+1 }}, {{ 8-r }})" {% endif %}>
                <img src="{{ pieces[f+1][8-r] }}" class="piece" width="100px" height="100px" alt="&nbsp;">
                <span class="circle"></span>
            </td>
            {% else %}
            <td style="{{ field_to_color[8-f][r+1] }}" {% if is_turn %} onclick="handle_click({{ 8-f }}, {{ r+1 }})" {% endif %}>
                <img src="{{ pieces[8-f][r+1] }}" class="piece" width="100px" height="100px" alt="&nbsp;">
                <span class="circle"></span>
            </td>
            {% endif %}