<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schach</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <div class="buttons">
            <button class="new-game" id="create" onclick="window.location.href = '/new/w'">Create Game</button>
            <button class="join-game" id="join" onclick="join()">Join Game</button>
            <button class="local-game" id="local" onclick="window.location.href = '/new/w-b'">Local Game</button>
        </div>
        <div class="preview">
            <img class="chessboard" src="../static/images/chessboard.png" alt="">
        </div>
    </div>
</body>
<script>




</script>
</html>